################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RetroBASIC/.vs/RetroBASIC/v17
/RetroBASIC/x64/Debug
/.vs
/RetroBASIC.vs/.vs/RetroBASIC/v17/ipch/AutoPCH
/RetroBASIC.vs/.vs/RetroBASIC/v17
/RetroBASIC.vs/x64/Debug
